* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 1rem 1rem hsla(0, 0%, 0%, 0.075);
  & > img {
    border-radius: 0.75rem;
  }
  & > div {
    padding: 1.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > h1 {
      color: hsl(218, 44%, 22%);
      font-size: 1.25rem;
    }
    & > p {
      color: hsl(216, 15%, 48%);
      font-size: 15px;
    }
  }
}
